  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded p-3 bg-green-600">
              <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-400">Total Calon</h5>
            <h3 class="font-bold text-3xl text-gray-600">
              <%= total%> Calon
              <span class="text-green-500">
                <i class="fas fa-exchange-alt"></i
              ></span>
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded p-3 bg-pink-600">
              <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-400">Calon Belum Dinilai</h5>
            <h3 class="font-bold text-3xl text-gray-600">
              <%= calonFalse%> Calon
              <span class="text-pink-500"
                ><i class="fas fa-exchange-alt"></i
              ></span>
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded p-3 bg-yellow-600">
              <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-400">Rank A</h5>
            <h3 class="font-bold text-3xl text-gray-600">
              <%= rankA%> Calon
              <!-- <span class="text-yellow-600"
                ><i class="fas fa-caret-up"></i
              ></span> -->
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded p-3 bg-blue-600">
              <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-400">Rank B</h5>
            <h3 class="font-bold text-3xl text-gray-600">
              <%= rankB%> Calon
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded p-3 bg-indigo-600">
              <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-400">Rank C</h5>
            <h3 class="font-bold text-3xl text-gray-600">
              <%= rankC%> Calon
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded p-3 bg-red-600">
              <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-400">Rank D</h5>
            <h3 class="font-bold text-3xl text-gray-600">
              <%= rankD%> Calon
              <!-- <span class="text-red-500"><i class="fas fa-caret-up"></i></span> -->
            </h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
  </div>

  <!--Divider-->
  <hr class="border-b-2 border-gray-600 my-8 mx-4" />

  <% if(calons.length) { %>
    <!--Card-->
    <div id="recipients" class="p-8 mt-8 lg:mt-0 rounded shadow bg-gray-900 border border-gray-800 rounded-xl p-8">
      <table id="table" class="stripe hover" style="width: 100%; padding-top: 1em; padding-bottom: 1em">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>No Telepon</th>
            <th>Nilai</th>
            <th>RANK</th>
            <th>Jenjang pendidikan</th>
            <th>IPK</th>
            <th>Pengalaman Mengajar</th>
            <th>Publikasi Dalam Karya Ilmiah</th>
            <th>Kecakapan Dalam Memberikan Materi Perkuliahan</th>
            <th>Memiliki Sertifikat Keahlian</th>
            <th>Nilai toefl</th>
            <th>Nilai Dari Seleksi Kompetensi</th>
            <th>Nilai Dari Test Kesehatan</th>
            <th>Kemampuan Berinteraksi</th>

            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < calons.length ; i++) { const data = calons[i]%>
          <tr>
            <td><%= i+1 %></td>
            <td><%= data.nama %></td>
            <td><%= data.alamat %></td>
            <td><%= data.noHp %></td>
            <td><%= data.nilai %></td>
            <td><%= data.rank %></td>
            <td><%= data.pendidikan %></td>
            <td><%= data.ipk %></td>
            <td><%= data.mengajar %></td>
            <td><%= data.karyaIlmiah %></td>
            <td><%= data.materi %></td>
            <td><%= data.sertifikat %></td>
            <td><%= data.toefl %></td>
            <td><%= data.kompetensi %></td>
            <td><%= data.kesehatan %></td>
            <td><%= data.berinteraksi %></td>
            <td><%= data.status %></td>
          </tr>
          <%}%>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#table")
      .DataTable({
        rowReorder: {
          selector: "td:nth-child(2)"
        },
        responsive: true,
        procesing: true,
        // serverSide: true,
        retrieve: true,
        dom: "Bfrtip",
        lengthChange: false,
        lengthMenu: [
          [10, 25, 50, -1],
          ["10 rows", "25 rows", "50 rows", "Show all"]
        ],
        buttons: {
          dom: {
            button: {
              tag: "button",
              className: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            }
          },
          buttons: [
            {
              extend: "pageLength",
              className: "mr-2",
              titleAttr: "Sort"
            },
            {
              extend: "excel",
              className: "btn btn-sm btn-success mr-2",
              titleAttr: "Excel export.",
              text: "Export Excel",
              filename: "excel-export",
              extension: ".xlsx"
            },
          ]
        },
      })
      .columns.adjust()
      .responsive.recalc();
  })
    ;

</script>